<div fxLayout="row" fxLayoutAlign="center center" class="k-header">
  <button
    flFlex
    mat-fab
    color="primary"
    matTooltip="Create a new tool"
    *ngIf="userIsAdmin"
    (click)="onClickAddTool()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div fxFlex class="k-header-title">External Koala Tools</div>
</div>

<div class="bd-highlight mb-3">
  <div class="mat-h4 p-3">
    Nulla labore exercitation id irure incididunt id cupidatat labore sit
    aliquip sit fugiat. Nisi nulla qui aliqua ullamco officia commodo nostrud ad
    Lorem excepteur commodo amet adipisicing cillum. Veniam deserunt dolor velit
    ut amet. Mollit minim ex aliquip ex sit anim tempor velit irure proident
    velit. Minim magna exercitation eu ullamco Lorem pariatur magna voluptate
    enim dolor. Non sunt cillum Lorem eu proident. Ex dolore excepteur commodo
    irure dolor fugiat duis adipisicing elit commodo commodo id nostrud id.
  </div>

  <div class="k-body m-3 p-3 mb-5">
    <!-- Filter/Sort Toolbar -->
    <div class="mb-3">
      <!-- Text Filter -->
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input type="text" matInput [(ngModel)]="filterText" />
      </mat-form-field>

      <!-- Sort By -->
      <mat-form-field class="ml-3">
        <mat-label>Sort By</mat-label>
        <mat-select [(ngModel)]="sortBy">
          <mat-option value="name">Name</mat-option>
          <mat-option value="numUsers">Users</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Sort Direction -->
      <mat-form-field class="ml-3">
        <mat-label>Direction</mat-label>
        <mat-select [(ngModel)]="direction">
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="dsc">Descending</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Toggle Only Starred -->
      <mat-checkbox class="ml-3" [(ngModel)]="onlyStarred">
        Only Starred
      </mat-checkbox>
    </div>

    <!-- Card Area -->
    <div fxLayout="row wrap">
      <!-- Add Tool Component -->

      <!-- Tool Cards -->
      <app-k-tool-item
        class="mr-3 mb-3"
        *ngFor="let kTool of getFilteredKTools()"
        [kTool]="kTool"
      ></app-k-tool-item>
    </div>

    <!-- Paginator -->
    <mat-paginator
      [length]="kTools.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </div>
</div>
