<div class="d-flex flex-column bd-highlight mb-3">
  <div class="d-flex k-body shadow m-3 p-3 mb-5 bg-light rounded flex-column">
    <div
      class="d-flex flex-row justify-content-between align-items-center mb-3"
    >
      <div class="d-flex flex-row w-25 align-items-center">
        <mat-form-field class="flex-fill">
          <mat-label>Filter</mat-label>
          <input type="text" matInput [(ngModel)]="filterText" />
        </mat-form-field>
        <mat-form-field class="ml-3">
          <mat-label>Sort By</mat-label>
          <mat-select [(ngModel)]="sortBy">
            <mat-option value="name">Name</mat-option>
            <mat-option value="numUsers">Users</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-3">
          <mat-label>Direction</mat-label>
          <mat-select [(ngModel)]="direction">
            <mat-option value="asc">Ascending</mat-option>
            <mat-option value="dsc">Descending</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="ml-3" [(ngModel)]="onlyStarred">
          Only Starred
        </mat-checkbox>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap">
      <div
        *ngIf="userIsAdmin"
        style="width: 320px;"
        class="d-flex justify-content-around align-items-center mr-3"
      >
        <button matTooltip="Add a New Tool" mat-fab (click)="onClickAddTool()">
          <mat-icon>
            add
          </mat-icon>
        </button>
      </div>
      <app-k-tool-card
        class="mr-3 mb-3"
        *ngFor="let kTool of getFilteredKTools()"
        [kTool]="kTool"
      ></app-k-tool-card>
    </div>
    <mat-paginator
      [length]="kTools.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </div>
</div>
