<app-header></app-header>
<mat-sidenav-container class="example-container header-offset">
  <mat-sidenav
    #sidenav
    [fixedInViewport]="true"
    mode="over"
    [opened]="appService.sidenavIsOpen"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <div fxLayout="row" fxLayoutAlign="center center" id="mainzo">
        <div fxFlex id="main-body" class="dark-overlay">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
