<h2>New Category</h2>
<form
  class="d-flex flex-column"
  #form="ngForm"
  novalidate
  (ngSubmit)="onSubmit(form)"
>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input type="text" matInput ngModel name="title" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      type="text"
      matInput
      ngModel
      name="description"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Icon</mat-label>
    <input type="text" matInput ngModel name="icon" required />
  </mat-form-field>
  <div class="d-flex flex-row justify-content-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.form.invalid"
    >
      Submit
    </button>
  </div>
</form>
