.clickable {
  cursor: pointer;
}

.btn-row {
  button {
    display: table-cell;
    margin: 5px 8px 5px 0px;
  }
}

.mat-button,
button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
