.card {
  flex-direction: row;
  border: 0px transparent;

  &.active {
    box-shadow: 0 0rem 0.5rem #ff7600 !important;
  }

  .w-faq {
    width: 18rem;
  }

  .card-title {
    &.display-3 {
      font-size: 1.25rem;
    }
  }

  .card-body {
    flex-direction: column;
  }

  .mat-card-content .fa {
    font-size: 1.5em;
  }
}

.card-form {
  opacity: 0.8;
}

mat-card-content {
  padding-top: 10px;
}
