// Color system

// Greens

$liteGreen: #85b268;
$green: #56a423;
$blue: #536786;
$greyBlue: #7f8895;
$white: #fff;
$black: #000;
$mint: #00c6a9;
$carminePink: #f15e6e;
$amber: #ffc100;
$charcoal: #3d4c5f;
$livid: #5e96cd;
$grey: #555555;
$liteGrey: #ccc;
$darkGrey: #2b292b;

// Bootstrap Color System
$primary: $mint;
$secondary: $livid;

$k-colors: ("mint", $mint), ("carminePink", $carminePink), ("amber", $amber), ("charcoal", $charcoal), ("livid", $livid),
  ("greyBlue", $greyBlue), ("green", $green), ("blue", $blue), ("grey", $grey), ("darkGrey", $darkGrey);

// Make lighter or darker version of the core colors background
@mixin color-weight($class, $base-color, $weight) {
  $bg-color: null;

  @for $i from 1 through 8 {
    @if $i < 4 {
      $weight: $weight - 1;
      $bg-color: lighten($base-color, $weight * 10%);
    } @else if $i == 4 {
      $weight: 0;
      $bg-color: $base-color;
    } @else {
      $weight: $weight + 1;
      $bg-color: darken($base-color, $weight * 10%);
    }

    // Background colors
    .#{$class}-bg-#{$i} {
      background-color: $bg-color;
    }
    // Text Colors
    .#{$class}-text-#{$i} {
      color: $bg-color;
    }
  }
}

@include color-weight(koala-mint, $mint, 4);
@include color-weight(koala-charcoal, $charcoal, 4);
@include color-weight(koala-livid, $livid, 4);
@include color-weight(koala-carminePink, $carminePink, 4);
@include color-weight(koala-greyBlue, $greyBlue, 4);
@include color-weight(koala-blue, $blue, 4);
@include color-weight(koala-amber, $amber, 4);
@include color-weight(koala-green, $green, 4);
@include color-weight(koala-grey, $grey, 4);
@include color-weight(koala-liteGrey, $liteGrey, 4);
@include color-weight(koala-darkGrey, $darkGrey, 4);