<mat-card>
  <div class="mat-elevation-z8">

    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{ formMode }}</div>
        <div>
          <button mat-icon-button matTooltip="Full Screen" (click)="fullScreenClick()"
            [ngClass]="fullScreen ? 'full-screen' : 'form-dialog'">
            <mat-icon>fullscreen</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Close" (click)="onCancel()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>


    </mat-card-title>

    <mat-sidenav-container>
      <!-- Right  side -->
      <mat-sidenav #sidenav [mode]="mode.value" [opened]="true" position="end">
        <mat-list class="right-drawer">
          <div mat-subheader>Overview</div>
          <div class="right-drawer">
            <div>Creator: <span>Lorem, ipsum.</span></div>
            <div>System POC: <span>Lorem, ipsum.</span></div>
            <div>Viewers: <span>Lorem, ipsum.</span></div>
            <div>Editors: <span>Lorem, ipsum.</span></div>
            <div>Status: <span class="stat-brd" [ngClass]="statColor('Draft')">draft</span></div>

            <div>UAM Sub-Status: <span class="stat-brd" [ngClass]="statColor('Draft')">Another Status</span></div>

          </div>
          <mat-divider></mat-divider>
          <div mat-subheader>Comments/Log</div>
          <div class="right-drawer">
            <div class="comment" fxLayout="row">
              <mat-icon>stop</mat-icon>
              <div>01/01/2020: Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Sed nostrum adipisci doloremque (Superman)</div>
            </div>
            <div class="comment" fxLayout="row">
              <mat-icon>stop</mat-icon>
              <div>01/01/2020: Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Sed nostrum adipisci doloremque (Spiderman) </div>
            </div>
          </div>

          <mat-divider></mat-divider>
          <div mat-subheader>History</div>
          <div class="right-drawer">
            <div class="comment" fxLayout="row">
              <mat-icon>stop</mat-icon>
              <div>01/03/2020 Changed "In Progress" by Superman</div>
            </div>
            <div class="comment" fxLayout="row">
              <mat-icon>stop</mat-icon>
              <div>01/02/2020 Changed "In Progress" by Spiderman</div>
            </div>
            <div class="comment" fxLayout="row">
              <mat-icon>stop</mat-icon>
              <div>01/01/2020 Changed "In Progress" by Snoopy</div>
            </div>

          </div>

        </mat-list>
      </mat-sidenav>
      <!-- Left side -->
      <mat-sidenav-content>


        <mat-divider></mat-divider>
        <form [formGroup]="ticketForm" novalidate (ngSubmit)="onSubmit(ticketForm)" fxFlex="95">
          <mat-card-content>
            <div fxLayout="row wrap">
              <mat-list>
                <mat-list-item>General Information</mat-list-item>
                <div fxLayout="row wrap">
                  <mat-form-field fxFlex="33" appearance="outline">
                    <mat-select placeholder="Service Desk Type" formControlName="serviceDeskTypes">
                      <mat-option *ngFor="let serviceDeskType of serviceDeskTypes" [value]="serviceDeskType.name">
                        {{ serviceDeskType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlx="50" appearance="outline">
                    <mat-label>Ticket Title</mat-label>
                    <input type="text" matInput required formControlName="title" />
                  </mat-form-field>
                  <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea type="text" matInput required formControlName="description"></textarea>
                  </mat-form-field>
                </div>
                <mat-list-item>System Details</mat-list-item>
                <div fxLayout="row wrap">
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 1</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 1</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 2</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 3</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 4</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 5</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                </div>
                <mat-list-item>UAM Internal Fields</mat-list-item>
                <div fxLayout="row wrap">
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 1</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 1</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Example Field 2</mat-label>
                    <input type="text" matInput required />
                  </mat-form-field>
                </div>
              </mat-list>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-footer>
            <div fxLayout="row" fxLayoutAlign="end center">
              <button mat-raised-button type="button" (click)="onCancel()">
                Cancel
              </button>
              <button mat-raised-button type="button">Save as Draft</button>
              <button mat-raised-button color="primary" type="submit">
                Update
              </button>
            </div>
          </mat-card-footer>
        </form>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</mat-card>