.mat-dialog-container {
  padding: 0px !important;
  min-height: 200px !important;
  .mat-card {
    @extend .k-bt-carminePink;
  }
}

.mat-card-footer {
  .mat-raised-button {
    margin: 5px;
  }
}
