<div fxLayout="row" fxLayoutAlign="center center" class="k-header">
  <button
    *ngIf="userIsAdmin"
    mat-fab
    color="primary"
    matTooltip="Add Category"
    (click)="onClickAddCategory()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div fxFlex class="k-header-title">FAQs</div>
</div>

<div class="mat-elevation-z8" class="p-4">
  <div fxLayout="row">
    <!-- Category Selector -->
    <div fxFlex="20">
      <div *ngFor="let faqCategory of faqCategories">
        <mat-card
          class="mb-3 clickable"
          [ngClass]="
            filterFaqCategory?.id == faqCategory.id ? 'bg-livid-1' : ''
          "
          (click)="onClickCategory(faqCategory)"
          matRipple
        >
          <mat-card-title>
            <i class="fa fa-star" *ngIf="faqCategory.topQuestionsCategory"></i>
            {{ faqCategory.title }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ faqCategory.description }}
          </mat-card-subtitle>
          <mat-card-content></mat-card-content>
        </mat-card>
        <hr *ngIf="faqCategory.topQuestionsCategory" />
      </div>
    </div>

    <!-- Categories -->
    <div fxFlex="80" class="pl-3" id="faq-section" *ngIf="filterFaqCategory">
      <!-- Categories List -->
      <div class="w-100">
        <div>
          <mat-card class="mb-4 faq-first-card" >
            <mat-card-title>
              <div
                class="d-flex flex-row justify-content-between align-items-center"
              >
                <span class="pb-2"> {{ filterFaqCategory.title }}</span>

                <!-- Category Admin Toolbar -->
                <div *ngIf="userIsAdmin" class="d-flex flex-row">
                  <button
                    *ngIf="!filterFaqCategory.topQuestionsCategory"
                    mat-icon-button
                    class="mr-2"
                    matTooltip="Add FAQ"
                    (click)="onClickAddFaq(filterFaqCategory)"
                  >
                    <mat-icon>
                      add
                    </mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    class="mr-2"
                    matTooltip="Edit Category"
                    (click)="onClickEditCategory(filterFaqCategory)"
                  >
                    <mat-icon>
                      edit
                    </mat-icon>
                  </button>
                  <button
                    *ngIf="!filterFaqCategory.topQuestionsCategory"
                    mat-icon-button
                    color="warn"
                    matTooltip="Delete Category"
                    [disabled]="faqs.length != 0"
                    (click)="onClickDeleteCategory(filterFaqCategory)"
                  >
                    <mat-icon>
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-title>
            <mat-card-subtitle class="flex-fill">
              {{ filterFaqCategory.description }}
            </mat-card-subtitle>

            <!-- FAQ Accordian -->
            <div class="mt-2">
              <app-faq-accordion
                [selectedFaq]="selectedFaq"
                [faqs]="faqs"
                [selectedFaqCategory]="filterFaqCategory"
                [userIsAdmin]="userIsAdmin"
              ></app-faq-accordion>
            </div>
            <span style="font-size: 8pt; color: red;" *ngIf="userIsAdmin">* As an admin any viewing of a FAQ will not be counted</span>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
