<div>
  <!-- TO DO update this with the faqs (that are starred) in the faq.component.ts file...  -->

  <a
    *ngFor="let faq of faqs; let i = index"
    class="w-50 float-left clickable text-reset"
    matRipple
    [routerLink]="['faqs', faq.id]"
  >
    <div class="d-flex bd-highlight">
      <div class="p-2">
        <span class="fa-stack">
          <span class="fa fa-circle-thin fa-stack-2x text-primary"></span>
          <strong class="fa-stack-1x">
            {{ i + 1 }}
          </strong>
        </span>
      </div>
      <div class="p-2">
        <h3>{{ faq.title }}</h3>
      </div>
    </div>
  </a>
</div>
