<mat-accordion>
  <mat-expansion-panel
    *ngFor="let faq of faqs"
    [expanded]="selectedFaq?.id === faq.id"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ faq.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="ml-4">{{ faq.description }}</p>

    <!-- FAQ Admin Toolbar -->
    <mat-divider *ngIf="userIsAdmin" class="mb-1"></mat-divider>
    <div class="d-flex flex-row justify-content-end" *ngIf="userIsAdmin">
      <button
        mat-icon-button
        color="accent"
        matTooltip="Star FAQ"
        (click)="onClickStarFaq(faq)"
      >
        <mat-icon>
          {{ faq.starred ? "star" : "star_border" }}
        </mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        matTooltip="Edit FAQ"
        (click)="onClickEditFaq(faq)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Delete FAQ"
        (click)="onClickDeleteFaq(faq)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
