<div fxLayout="row" fxLayoutAlign="center center" class="k-header">
  <button
    flFlex
    mat-fab
    color="primary"
    matTooltip="Add a new section"
    (click)="onClickPlusFab()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div fxFlex class="k-header-title">{{ kTool.name }}'s User Guide</div>
</div>

<div class="p-3 mb-3" fxLayout="row" fxLayoutGap="16px">
  <!-- Left Sidebar -->
  <div class="position-relative">
    <div
      class="sticky-top"
      style="top: 76px; z-index: 10;"
      fxLayout="column"
      fxLayoutGap="16px"
    >
      <!-- Tool Card -->
      <app-k-tool-item
        [kTool]="kTool"
        (updated)="onToolUpdated($event)"
        (deleted)="onToolDeleted()"
      ></app-k-tool-item>

      <!-- Section Links -->
      <mat-card *ngIf="userGuide">
        <mat-card-title> <h2>Contents</h2> </mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutGap="8px">
          <a
            *ngFor="let section of userGuide.sections"
            [routerLink]="['user-guide']"
            [fragment]="section.title"
            mat-button
            class="text-decoration-none"
            fxFill
            [ngClass]="
              section === selectedSection
                ? 'background-primary text-white'
                : 'text-reset'
            "
            (click)="onClickSectionLink(section)"
          >
            <div fxLayoutAlign="start center">
              <mat-icon class="mr-3">{{
                section === selectedSection
                  ? "radio_button_checked"
                  : "radio_button_unchecked"
              }}</mat-icon>
              <span> {{ section.title }}</span>
            </div>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Main Sections/Content -->
  <div fxLayout="column" fxFlex>
    <nav mat-tab-nav-bar>
      <a
        class="text-reset text-decoration-none"
        mat-tab-link
        routerLink="user-guide"
        routerLinkActive
        #guideLink="routerLinkActive"
        [active]="guideLink.isActive"
      >
        Guide
      </a>
      <a
        class="text-reset text-decoration-none"
        mat-tab-link
        routerLink="release-notes"
        routerLinkActive
        #notesLink="routerLinkActive"
        [active]="notesLink.isActive"
      >
        Release Notes
      </a>
    </nav>

    <router-outlet class="mt-3"></router-outlet>
  </div>
</div>
