<div fxLayout="column" fxLayoutGap="16px">
  <mat-card
    *ngFor="let section of sections"
    (mouseenter)="onMouseoverSection(section)"
  >
    <a class="hidden-anchor" id="{{ section.title }}"></a>
    <mat-card-title *ngIf="editSection !== section">
      <span *ngIf="editSection !== section">
        {{ section.title }}
      </span>
    </mat-card-title>
    <mat-card-content
      *ngIf="editSection !== section"
      style="white-space: pre-line;"
    >
      {{ section.content }}
    </mat-card-content>
    <app-section-form
      #sectionForm
      *ngIf="editSection === section"
      [section]="section"
      (submit)="onSubmit($event, section)"
    >
      <button mat-flat-button color="primary">Save</button>
    </app-section-form>
    <mat-divider></mat-divider>
    <mat-card-footer fxLayoutAlign="end" class="p-1">
      <ng-container *ngIf="editSection !== section">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Edit Section"
          (click)="onClickEditSection(section)"
        >
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          matTooltip="Delete Section"
          (click)="onClickDeleteSection(section)"
        >
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="editSection === section">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Save Section"
          type="submit"
        >
          <mat-icon>
            save
          </mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Stop Editing"
          type="button"
          (click)="onClickEditSection(section)"
        >
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </ng-container>
    </mat-card-footer>
  </mat-card>
</div>
