<div class="card m-3 shadow q-faq text-center">
  <div class="d-flex justify-content-start align-self-center">
    <i class="fa pl-3 fa-star-half-empty"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title display-3">Technical Support</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      need help with configuring, troubleshooting, getting connected? Select
      this to request assistance.
    </h6>
  </div>
</div>

<div class="card my-3 shadow q-faq"></div>

<!-- <div class="card my-3 shadow q-faq">
  <div class="d-flex justify-content-start align-self-center">
    <i class="fa pl-3 fa-star-half-empty"></i>
  </div>
  <div class="card-body d-flex justify-content-start">
    <h5 class="card-title display-3">Report a bug</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      need help with configuring, troubleshooting, getting connected? Select
      this to request assistance.
    </h6>
  </div>
</div> -->
