@import "../../styles/variables";

#abode {
  color: white;

  .home-inner {
    padding: 75px 0px;
  }

  #abode-welcome {
    height: 350px;
    background-image: url("../../assets/images/koala_forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -60px;
  }

  .dark-overlay {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px;
    background: rgba(0, 0, 0, 0.7);
  }

  .ticket-requests {
    height: 125px;
  }

  #requestTypes {
    width: 80%;
    margin: auto;
  }
  .requestTypes {
    flex: 1 1 0px;

    mat-card {
      height: 200px;
      
      .mat-card-header-text {
        margin: 0px;
      }

      .mat-card-avatar {
        width: auto;
        height: 52px;
      }
    }
  }

  h1 {
    mat-divider {
      width: 15%;
      margin: auto;
      background-color: $mint;
    }
  }
}
