<div class="row">
  <div class="col-xs-12">
    <img
      style="max-height: 150px;"
      [src]="ticket.imagePath"
      alt=" {{ ticket.name }}"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ ticket.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        manage
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onAddToKTools()">
          Add to ticket list
        </button>
        <button ngbDropdownItem (click)="onEditTicket()">Edit</button>
        <button ngbDropdownItem>Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ ticket.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of ticket.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
