<mat-card class="k-bt-mint m-2">
  <mat-card-title
    >Ticket: {{ ticket.title }}
    <div ngbDropdown class="d-inline-block">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        manage
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onAddToKTools()">
          Add to ticket list!
        </button>
        <button ngbDropdownItem (click)="onEditTicket()">Edit</button>
        <button ngbDropdownItem>Delete</button>
      </div>
    </div></mat-card-title
  >
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      {{ ticket.description }}
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-footer> </mat-card-footer>
</mat-card>
