<mat-toolbar class="bg-dark" fxLayout="column">
  <mat-toolbar-row>
    <button mat-icon-button class="mr-3" (click)="onClickMenu()">
      <mat-icon>
        {{ appService.sidenavIsOpen ? "menu" : "menu" }}
      </mat-icon>
    </button>
    <div>
      <app-link-list fxLayout="row" fxLayoutGap="6px"></app-link-list>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar
  class="primary-progress"
  [mode]="appService.isLoading ? 'query' : 'determinate'"
  [value]="100"
></mat-progress-bar>
