<mat-card>
  <mat-card-title>{{ data ? "Edit" : "Create" }} Ticket</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="ticketForm" novalidate (ngSubmit)="onSubmit(ticketForm)">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input type="text" matInput required formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            type="text"
            matInput
            required
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-footer>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button (click)="onCancel()">Close</button>
    </div>
  </mat-card-footer>
</mat-card>
