<mat-card>
  <mat-card-title>{{ faqCategory ? "Edit" : "New" }} Category</mat-card-title>
  <mat-divider></mat-divider>
  <form
    class="d-flex flex-column"
    [formGroup]="faqCategoryForm"
    novalidate
    (ngSubmit)="onSubmit(faqCategoryForm)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" matInput required formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        type="text"
        matInput
        required
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Icon</mat-label>
      <input type="text" matInput required formControlName="icon" />
    </mat-form-field>
    <div class="d-flex flex-row justify-content-between">
      <button mat-raised-button type="button" (click)="onClickCancel()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!faqCategoryForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</mat-card>
