<div class="bg-white" id="ticket-list">
  <div fxLayout="row" fxLayoutAlign="center center" id="ticket-list-header">
    <div fxFlex="5"></div>
    <div fxFlex class="mat-display-1 pl-3">Tickets</div>
    <div fxFlex>
      <button mat-fab color="primary" (click)="onNewTicket()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8" class="pt-4">
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
      </mat-form-field>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        fxFlex
      ></mat-paginator>
    </div>

    <table mat-table [dataSource]="ticketsTable" class="w-100">
      <ng-container matColumnDef="ticketNo">
        <th mat-header-cell *matHeaderCellDef class="wp-100">Ticket #</th>
        <td mat-cell class="font-weight-bold" *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{ element.title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>
      <ng-containter matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-pencil clickable" (click)="viewDetails(element)"></i>
        </td>
      </ng-containter>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<!-- 
<div class="p-2">
  <app-ticket-item
    *ngFor="let ticketEl of tickets"
    [ticket]="ticketEl"
    [index]="ticketEl.ticketNumber"
  ></app-ticket-item>
</div> -->
