@import "../../../styles/variables";

#ticket-list {
  min-height: 500px;

  .wp-100 {
    width: 100px;
  }
}

#ticket-list-header {
  position: relative;
  background: $primary;
  height: 75px;

  button {
    position: absolute;
    left: 10px;
    bottom: -26px;
    z-index: 101;
  }

  .mat-display-1 {
    margin: auto;
  }
}

.mat-row:hover {
  @extend .bg-greyBlue-1;

  cursor: pointer;
}
